.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
  justify-content: center;
  background: #E0DFD5;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  gap: 1em;
}
.score-text{
  background-color: #313638;
  padding: 2px 22px;
  color: #E8E9EB ;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.btn-player {
  background: #F09D51;
  color: #E8E9EB;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.title-song {
  color: #313638;
  text-align: center;
  margin: 0;
}
.score{
  color: #F09D51 !important;
  font-weight: bold;
}
.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.options {
  background-color: #E8E9EB !important;
  width: 200px;
  height: 200px;
  padding: 0 !important;
  position: relative;
}

.option-info-img {
  position: relative;
}

.album-img {
  border-radius: 7px;
  filter: brightness(0.4);
  transition: filter 0.3s ease-in-out;
}

.album-img:hover {
  filter: brightness(0.7);
}

.title-album {
  position: absolute;
  top: 55%;
  left: 50%;
  color: #E8E9EB;
  transform: translate(-50%, -80%);
  padding: 0;
  margin: 0;
  width: 90%;
  font-size: 13px;
}

.info-text {
  color: #292929;
  font-size: 11px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  min-width: 25%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 15px;
  color: #a880d7;
}



.config-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 4em;
  height: 3em;
  font-size: 1.3em;
  color: #f5f5f5;
  background: #F09D51;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .title-song {
    font-size: 21px;
  }

  .options-container {
    flex-direction: column;
  }

  .container {
    margin-top: 20px;
    justify-content: normal;
    margin-bottom: 30px;
  }

  .info-text {
    font-size: 14px;
  }

  .close-btn {
    font-size: 35px;
  }

  .header {
    flex-direction: column;
  }

  .config-btn {
    margin: 0;
    top: 0.5em;
    right: 0.5em;
    width: 2em;
    height: 2em;
  }

  .modal-content {
    width: 80%;
  }
}