.modal-background {
    width: 60%;
    height: 30em;
    border: 5px solid #313638;
    padding: 20px;
    background-color: #E8E9EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    top: 20px;
}

.btn-option {
    width: 70px;
    height: 70px;
}

.scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px;
    padding-bottom: 20px;
}

.scroll-content {
    display: inline-flex;
}

.scroll-container::-webkit-scrollbar {
    width: 300px;
    height: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #313638;
}

.scroll-container::-webkit-scrollbar-track {
    background: #E0DFD5;
}

.label-config {
    color: #313638;
    margin: 0;
    width: 80%;
    font-size: 1.3em;
}

.theme-container-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.info-difficulty {
    color: #F06543;
    font-size: 0.7em;
}

.item {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #E0DFD5;
    margin-right: 10px;
    padding: 20px;
    box-sizing: border-box;
    color: #313638;
}

.selected {
    background-color: #313638 !important;
    color: #E8E9EB !important;
}

.difficulty-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
}

.difficulty-container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.difficulty-btn {
    width: 110px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E0DFD5;
    color: #000500;
}

.average-container {
    display: flex;
}

.save-button {
    width: 10em;
    height: 3em;
    background-color: #F09D51;
    color: #E8E9EB;
}

.config-title {
    margin: 0;
    color: #313638;
    font-size: 1.8em;
    text-align: center;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.general-settings-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .modal-background {
        width: 80%;
        top: 0px;
    }

    .label-config {
        font-size: 1em;
    }

    .item {
        width: 6em;
        height: 6em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.8em;
    }

    .difficulty-btn {
        width: 4em;
        font-size: 0.8em;
        height: 4em;
    }

    .difficulty-container {
        gap: 0.5em;
    }

    .info-difficulty {
        display: none;
    }

    .star {
        font-size: 0.7em;
    }

    .save-button {
        width: 6em;
    }
}